---
import { Layouts } from "../layouts";
import { Footer } from "../components/footer";
import { Header } from "../components/header";
import "../styles/global.css";
---

<Layouts.Base title="Home">
<Header />

  <main>
    <h1>Home</h1>
  </main>

  <Footer />
</Layouts.Base>
