---
import { Layouts } from "../layouts";
import { Footer } from "../components/footer";
import "../styles/global.css";
---

<Layouts.Base title="Home">
  <header>
    Header
    <nav>nav</nav>
  </header>

  <main>
    <h1>Home</h1>
  </main>

  <Footer />
</Layouts.Base>
